/*.fileinput-button {
  position: relative;
  overflow: hidden;
  display: inline-block;
}*/

.fileinput-button input {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  opacity: 0;
  direction: ltr;
  cursor: pointer;
  height: 100%;
  width: 100%;
}
.uploaded_btn_text {
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 190px;
  white-space: nowrap;
}
.uploaded_stage.fileinput-button input{
  pointer-events: none;
}
.pop-reward{
  padding: 10% 10%;
  background-color: #fff;
  display: -ms-grid;
  display: grid;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}
.pop-reward.grid-4{
  display: -ms-grid;
  display: grid;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}
.pop-reward.grid-2{
  display: -ms-grid;
  display: grid;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr ;
  grid-template-columns: 1fr 1fr ;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}
.modal-title{
  font-family: 'Db heavent med v3', sans-serif;
  font-size: 36px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.11;
  letter-spacing: 0.2px;
  text-align: center;
  color: #404040;
  width: 100%;
}
.modal-header{
  border: none;
}



/* Back to Top */
/* Set the color, size, and more for the back to top square */
.back-to-top {
	background: none;
 	margin: 0;
 	position: fixed;
 	bottom: 100px;
 	right: 40px;
 	width: 70px;
 	height: 60px;
 	z-index: 100;
 	display: none;
 	text-decoration: none;
 	color: 
#ffffff; /* Helps set the color of the arrow. */
 	background-color: 
#404040;  /* Sets the color of the square itself */
 	text-align: center;
}

/* Set the color and size of the back to top up-arrow */
.back-to-top i {
  font-size: 60px; 
  color: 
#ffffff;
}

/* Sets the arrow color on hover/focus */
.back-to-top:hover,
.back-to-top:active,
.back-to-top:focus {
  color: 
#ffffff;
}

/* End Back to Top */